# Node modules
node_modules/

# Environment variables
.env

# File session (jika ada)
session.json
session/

# File kredensial
serviceAccountKey.json

# Log
*.log
logs/

baileys_auth_info/
whatsapp/session/
